<div class="container updown center-vertical" *ngIf="footer && footerLinks">
  <div class="container item card-mobile full-width center white no-hover">
    <h1 class="font-large section">
      <a href="tel:{{ footer.footerInfo.number }}">{{
        footer.footerInfo.number
      }}</a>
    </h1>
  </div>
  <div class="container card-mobile grey full-width center no-hover">
    <span class="social-link"
      ><a [href]="footer.socialLinks.facebook"
        ><img src="assets/images/facebook-min.png"
      /></a>
    </span>
    <span class="social-link"
      ><a [href]="footer.socialLinks.linkedin"
        ><img src="assets/images/linkedin-min.png"
      /></a>
    </span>
  </div>
</div>
