.policy-popup{
    position:fixed;
    bottom: 0;
    z-index: 58;
    width: 100%;
    margin-bottom: 10px;
    .card{
        border-radius: 5px;
    }
    p{
        margin-top: 10px;
    }
    animation-name: popup;
    animation-duration: 7s;
    animation-timing-function: ease-in-out; 
  }


  @keyframes popup {
    from {
      opacity: 0;
    }
    80%{
        opacity: 0.8;
    }
    to {
      opacity: 1;
    }
  }