<div
  class="background"
  style="background-image: url(assets/images/map-flags-min.png);"
>
  <app-heading [id]="heroes[0]"></app-heading>
</div>
<div
class="background"
style="background-image: url(assets/images/map-regular-min.png);"
>
<app-hero *ngIf="heroes" [hero]="heroes[1]" [id]="heroes[1]"></app-hero>
<app-about-us></app-about-us>
<app-hero *ngIf="heroes" [hero]="heroes[2]" [id]="heroes[2]"></app-hero>
<app-site></app-site>
<app-hero *ngIf="heroes" [hero]="heroes[3]" [id]="heroes[3]"></app-hero>
<app-services></app-services>
<app-hero *ngIf="heroes" [hero]="heroes[4]" [id]="heroes[4]"></app-hero>
  <app-companies></app-companies>
</div>