<div class="background" style="background-image: url(assets/images/map-regular-min.png);">

  <app-hero [hero]="pageTitle" *ngIf="pageTitle"></app-hero>
  <div class="container cards section" *ngIf="columnLeft && columnRight">
    <div class="item grey card no-hover">
      <div class="container">
        <div class="item">
          <div *ngFor="let text of columnLeft.texts.slice(0,5)" class="item">
            <app-texts [text]="text"></app-texts>
          </div>
        </div>
        <div class="item">
          <div *ngFor="let text of columnLeft.texts.slice(5)" class="item">
              <app-texts [text]="text"></app-texts>
          </div>
        </div>
      </div>
    </div>

    <div class="item white card no-margin no-hover">
      <div>
        <div class="container center">
          <img [src]="image" class="cover-image" />
        </div>
      </div>
    </div>
  </div>


</div>