<div class="background-regular">

  <app-hero [hero]="pageTitle" *ngIf="pageTitle"></app-hero>
  <div class="container cards center" *ngIf="content">
    <div class="grey card no-hover">
      <div class="container">
        <div class="item margin-right">
          <div *ngFor="let text of content.slice(0,2)" >
            <app-texts [text]="text"></app-texts>
          </div>
        </div>
        <div class="item padding">
          <div *ngFor="let text of content.slice(2)" style="white-space: nowrap;">
            <app-texts [text]="text"></app-texts>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>