<div *ngIf="contact">
  <div class="container card-mobile white no-hover updown">
    <form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">
      <input class="item grey" formControlName="name" [placeholder]="contact.form.name"
        [ngClass]="{'invalid': contactFormGroup.controls.name.invalid}" />
      <input class="item grey" formControlName="email" [placeholder]="contact.form.email"
        [ngClass]="{'invalid': contactFormGroup.controls.email.invalid}" />
      <textarea class="item grey message" formControlName="message" [placeholder]="contact.form.message"
        [ngClass]="{'invalid': contactFormGroup.controls.message.invalid}"></textarea>
      <p>
        {{ contact.form.texts[0] }}
        <a [href]="contact.form.textLink" class="a-special" [routerLink]="['/policy']"
          [ngx-scroll-to]="'#start'">{{ contact.form.textLink }}</a>
        {{ contact.form.texts[1] }}
      </p>
      <app-button [buttonText]="contact.form.send" [disabled]="!contactFormGroup.valid"></app-button>
    </form>
    <div class="font-medium">
      <div>
        <h4 class="marginless">{{ contact.address.title }}</h4>
        <span>{{ contact.address.subtitle }}</span>
      </div>
      <br />
      <dl>
        <dt *ngFor="let location of contact.address.locations">
          {{ location }}
        </dt>
      </dl>
      <br />
      <dl>
        <dt *ngFor="let contactItem of contact.contactBy">
          <span>{{ contactItem.name }}</span>
          :
          <a href="tel:{{ contactItem.value }}" class="bold">{{
            contactItem.value
          }}</a>
        </dt>
      </dl>
    </div>
  </div>
</div>