@import "../../../../variables.scss";

nav {
    dl{
        height: $header-height;
    }
    background-color: $white-strong;
    position: fixed;
    top: 0;
    width: $max-width;
  }
.menu-block{
  z-index: $z-index-menu;
}

@include screen-medium {
  nav{
    width: $width-medium;
  }
}
@include screen-huge {
  nav{
    width: $width-huge;
  }
}