<div *ngIf="companies">
  <app-row-image
    [rowImage]="companies.rowImage"
    [mediumFont]="true"
  ></app-row-image>

  <div class="card white no-hover font-medium">
    <div class="section">
      <p
        *ngFor="
          let text of companies.rowTexts.columnSpecial.texts;
          first as isFirst
        "
      >
        <b *ngIf="companies.rowTexts.columnSpecial.boldText !== '' && isFirst">
          {{ companies.rowTexts.columnSpecial.boldText }}
        </b>
        {{ text }}
      </p>
      <p *ngFor="let text of companies.rowTexts.columnContact.texts">
        {{ text }}
      </p>
    </div>
  </div>
</div>
