@import "../../../../variables.scss";

.arrow{
  width:auto;
  display:none;
  img{
    width: $card-arrow-width;
  }
}

.card:hover, .active{
  .arrow{
    display:block;
  }
}
.heading{
  position: sticky;
  top: 0px;
}