<div *ngIf="services" id="servicesCards" #servicesCards>
    <a
      *ngFor="let card of services.rowCards; index as i"
      [ngClass]="{
        active: indexOfActiveCard === services.rowCards.indexOf(card)
      }"
      [id]="card.title"
    >
      <div class="card-mobile heading grey"
      [ngx-scroll-to]="card.title"
      [ngClass]="{'heading yellow': i===indexOfActiveCard}"
      >
        <h2 class="fixed">{{ card.title.toUpperCase() }}</h2>
      </div>
      <div class="card-mobile white no-hover">
        <p class="font-medium">{{ card.text }}</p>
      </div>
      <div *ngFor="let rowImage of card.rowCardsImage">
        <app-row-image [rowImage]="rowImage" [mediumFont]="true"></app-row-image>
      </div>
    </a>
  </div>
  