<div *ngIf="contact" class="container white contact">
  <div class="item font-medium container updown center">
    <div>
      <div>
        <h2 class="bold ">{{ contact.address.title }}</h2>
        <span>{{ contact.address.subtitle }}</span>
      </div>
      <br>
      <ul>
        <li *ngFor="let location of contact.address.locations; last as isLast">
          {{ location }}
        </li><br *ngIf="isLast">
      </ul>
      <br>
      <ul>
        <li *ngFor="let contactItem of contact.contactBy; last as isLast">
          <span>{{ contactItem.name }}</span>
          :
          <a [href]="contactItem.value" class="bold">{{ contactItem.value }}</a><br *ngIf="!isLast" />
        </li>
      </ul>
    </div>
  </div>

  <div class="item">
    <form>
      <div class="container input1">
        <input class="item grey" [placeholder]="contact.form.name" />
        <input class="item grey" [placeholder]="contact.form.email" />
      </div>
      <div class="container">
        <textarea class="item grey message" [placeholder]="contact.form.message"></textarea>
      </div>
      <p>
        {{ contact.form.texts[0] }}
        <a [href]="contact.form.textLink" class="a-special">{{ contact.form.textLink }}</a>
        {{ contact.form.texts[1] }}
      </p>
      <app-button [buttonText]="contact.form.send"></app-button>
    </form>
  </div>
</div>