input, textarea{
  border: none;
  padding: 15px 30px;
  vertical-align: middle;
}
.input1 {
  margin-bottom: 15px;

  input:nth-of-type(1){
  margin-right: 15px;
  }
}
textarea{
  height:150px;
  resize: vertical;
}