<div *ngIf="site">
  <div class="container section cards">
    <div class="item grey container card">
      <div class="container updown justify">
        <div>
          <h2>{{ site.rowInfo.title }}</h2>
          <span class="font-medium">{{ site.rowInfo.subtitle }}</span>
        </div>
        <p>
          <span>{{ site.rowInfo.location.name }}</span>
          <br />
          <a href="" class="coordinates">
            <span>{{ site.rowInfo.location.coordinateN }}</span>
            <span>{{ site.rowInfo.location.coordinateE }}</span>
          </a>
        </p>
      </div>
    </div>
    <div class="item white">
      <div class="card-big">
        <p class="font-medium">{{ site.rowInfo.text }}</p>
      </div>
    </div>
  </div>

  <div class="container section cards">
    <a class="item card container" *ngFor="let card of site.cardsLocation" (click)="changeCard(card)">
      <div class="item container updown justify">
        <div>
            <h2 class="fixed">{{ card.title }}</h2>
            <p>{{ card.text }}</p>

        </div>
        <p>
          <span>{{ card.location.name }}</span>
          <a href="" class="coordinates">
            <br />
            {{ card.location.coordinateN }}
            <br />
            {{ card.location.coordinateE }}
          </a>
        </p>
      </div>
    </a>
  </div>

  <div class="container section">
    <app-row-image [rowImage]="currentRow"></app-row-image>
  </div>
</div>
