<div *ngIf="footerAbsolute">
  <div class="card-mobile full-width no-hover white text-center">
    <dl>
      <dt class="font-medium" *ngFor="let infoLink of footerAbsolute.infoLinks">
        <a
          [href]="infoLink.link"
          class="coordinates"
          [routerLink]="[infoLink.link]"
          [ngx-scroll-to]="'#start'"
          [ngx-scroll-to-offset]="offset"
        >
          {{ infoLink.text }}
        </a>
      </dt>
    </dl>
    <div class="font-medium">
      {{ footerAbsolute.copyright }}
    </div>
  </div>
</div>
