@import "../../../../variables.scss";

$animation-duration: 9s;


.logo-background {
  position: absolute;
  z-index: $z-index-animation-background;
  animation: background $animation-duration forwards 9;
  background-size: $background-width;
  background-color: white;
}

@keyframes background {
  85% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animation-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  position: absolute;
  z-index: $z-index-animation-background;
}

@include screen-medium {
  .logo-background{
    @include background-position-mobile;
    width: 100vw;
    height: 100vh;
  }
  .logo {
    position: relative;
    animation: increase $animation-duration ease-in;
    @include transform-position-and-scale($scale: $logo-scale, $left: $logo-left, $top: $logo-top);
    z-index: $z-index-animation-logo;
  }
  @keyframes increase {
    from {
      @include transform-position-and-scale($scale: $logo-animation);
    }
    40% {
      @include transform-position-and-scale($scale: $logo-animation);
    }
    80% {
      @include transform-position-and-scale($scale: $logo-animation-increase);
    }
    to {
      @include transform-position-and-scale($scale: $logo-scale, $left: $logo-left, $top: $logo-top);
    }
  }
}

@include screen-huge {
  .logo-background {
    background-size: $width-huge;
    width: $width-huge;
    @include background-margins;
    background-position: center center;
  }
}
