@import "../../../../variables.scss";

$animation-duration: 5s;

.logo {
  position: absolute;
  @include transform-position-and-scale(
    $scale: $logo-scale,
    $left: $logo-left,
    $top: $logo-top
  );
  animation-name: increase;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
  z-index: $z-index-animation-logo;
}
@keyframes increase {
  0% {
    @include transform-position-and-scale($scale: $logo-animation);
  }
  50% {
    @include transform-position-and-scale($scale: $logo-animation);
  }
  75% {
    @include transform-position-and-scale($scale: $logo-animation-increase);
  }
  100% {
    @include transform-position-and-scale(
      $scale: $logo-scale,
      $left: $logo-left,
      $top: $logo-top
    );
  }
}

.logo-background {
  position: absolute;
  width: $background-width;
  height: 100%;
  z-index: $z-index-animation-background;
  animation-name: background;
  animation-duration: $animation-duration;
  @include background-position;
  background-size: $background-width;
}

@keyframes background {
  from {
    @include background-position;
    z-index: $z-index-animation-background;
  }
  75% {
    opacity: 1;
  }
  to {
    width: $background-width;
    z-index: $z-index-animation-background;
    opacity: 0;
  }
}
.animation-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: $z-index-animation-background;
}

@include screen-medium {
  .logo-background {
    @include background-position;
  }
}
@include screen-large {
  .logo-background {
    background-size: $width-large;
    width: $width-large;
  }
}
@include screen-huge {
  .logo-background {
    background-size: $width-huge;
    width: $width-huge;
  }
  @keyframes background {
    from {
        @include background-margins;
        @include background-position;
        z-index: $z-index-animation-background;
      }
      75% {
        opacity: 1;
      }
      to {
        width: $background-width;
        z-index: $z-index-animation-background;
        opacity: 0;
        height: 100%;
      }
  }
}
