<div class="loading " *ngIf="showLoading">
</div>
<div class="container center" *ngIf="!showLoading">
  <span id="start"></span>
  <div class="wrapper">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <div class="background" style="background-image: url(assets/images/map-regular-min.png);">
      <app-hero *ngIf="lastHero" [hero]="lastHero" [id]="lastHero"></app-hero>
      <app-contact [id]="'contact'"></app-contact>
      <app-footer></app-footer>
      <app-footer-absolute></app-footer-absolute>
    </div>
  </div>
</div>