@import "../../../../variables.scss";

nav {
    dl{
        height: $header-height;
    }
    background-color: $white-strong;
    position: fixed;
    top: 0;
    width: $mobile-max-width;
    overflow: hidden;
  }
.menu-block{
  z-index: $z-index-menu;
}
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #FFF;
  opacity: 1;
  z-index: 100;
  visibility: hidden;
  transition: all .375s;
}
