@import "../../../../variables.scss";

nav {
  dl {
    height: $header-height;
  }
  background-color: $white-strong;
  position: fixed;
  top: 0;
  width: $mobile-max-width;
}

.menu-items {
  animation-name: scrolled;
  animation-duration: 3s;
}
@keyframes scrolled {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-block {
  z-index: $z-index-menu;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 150%;
}

.open img {
  height: $language-picker-mobile-height;
}

.header-hide {
  display: none;
}
