@import "../../../../variables.scss";

.menu {
  font-size: $smallest;
  .menu-item{
    text-decoration: none;
    margin-right: $p5;
    padding-bottom: $p5;
  }
  .menu-item:hover,
  .active {
    border-bottom: 5px solid $yellow;
    position: relative;
  }
}
