@import "../../../../variables.scss";

.brand{
  transition: 0.5s ease-in all;
  margin:$logo-margin;
  width: $logo-width;
  &.logo-small{
    width: 125px;
  }
}
.invisible{
  opacity: 0;
}

@include screen-medium{
  .brand{
    &.logo-small{
      margin-right: 30px;
    }
  }
}