<!-- 
<a [routerLink]="['/']" 
routerLinkActive="router-link-active"  
[ngx-scroll-to]="'#start'" 
[ngx-scroll-to-offset]="offset">
    <img src="assets/images/logo-min.png" class="logo" 
    [ngClass]="{'logo-big':!resizing, 'logo-small':resizing}">
</a> -->
<object data="assets/images/logo.svg" class="screen" 
[ngClass]="{'logo-big':!resizing, 'logo-small':resizing}"></object>
<div class=" loading"  style="background:white;">

    <div class="loading" style=" background-image:url(assets/images/map-regular-min.png)">
    </div>
</div>