@import "../../../../variables.scss";

.brand{
  transition: 0.5s ease-in all;
  margin:$logo-margin;
  width: 155px;
  &.logo-small{
    margin-right: 30px;
    width: 125px;
  }
}
.invisible{
  opacity: 0;
}