@import "../../../../variables.scss";

$logo-scale: 0.45;
$logo-left: 15%;
$logo-top: 17.5%;

.logo {
  position: fixed;
  @include transform-position-and-scale(
    $scale: $logo-scale,
    $left: $logo-left,
    $top: $logo-top,
    $isInverted: true
  );
  animation-name: increase;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  z-index: 1;
  opacity: 1;
}
@keyframes increase {
  0% {
    @include transform-position-and-scale($scale: 0.6);
    z-index: $z-index-animation-logo;
  }
  50% {
    @include transform-position-and-scale($scale: 0.6);
    z-index: $z-index-animation-logo;
  }
  75% {
    @include transform-position-and-scale($scale: 2);
    z-index: $z-index-animation-logo;
  }
  100% {
    @include transform-position-and-scale(
      $scale: $logo-scale,
      $left: $logo-left,
      $top: $logo-top,
      $isInverted: true
    );
    z-index: $z-index-animation-logo;
  }
}

.logo-background {
  position: fixed;
  display: block;
  top: 0;
  width: 0;
  height: 0;
  z-index: $z-index-animation-background;
  animation-name: background;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: $background-width;
}

@keyframes background {
  from {
    opacity: 1;
    z-index: $z-index-animation-background;
    width: $background-width;
    height: 100%;
  }
  75% {
    opacity: 1;
  }
  to {
    width: $background-width;
    @extend %background-margins;
    z-index: $z-index-animation-background;
    opacity: 0;
    height: 100%;
  }
}
