@import "../../../../variables.scss";

.heading-padding{
  padding-bottom: 6vh;
}

h1 {
  padding-top: 12vh;
  line-height: 1;
}
.play {
  img {
    width: $play-button-width;
    margin-right: 20px;
  }
  span {
    font-size: $medium;
    color: $black-light;
  }
}
.heading{
  @include fullscreen;
}