<div class="heading">
  <div
    *ngIf="!isModalActive; else video"
    class="container center-vertical updown justified"
  >
    <h1 *ngIf="heading" class="text-center heading-padding">
      {{ heading.title }}
    </h1>
    <div class="container updown heading-padding">
      <div class="item container center-vertical play">
        <a (click)="turnOnVideo(0)"><img [src]="imgSources[0]"/></a>
        <span class="coordinates">{{ heading.button1 }}</span>
      </div>
      <div class="item container center-vertical play">
        <a (click)="turnOnVideo(1)"><img [src]="imgSources[0]"/></a>
        <span class="coordinates">{{ heading.button2 }}</span>
      </div>
    </div>
    <app-button></app-button>
  </div>
</div>
<ng-template #video>
  <div class="item container center-vertical updown">
    <app-video
      class="video"
      [videoSource]="videoSource"
      (valueChange)="turnOffVideo($event)"
    >
    </app-video>
  </div>
</ng-template>
