@import "../../../../variables.scss";

.flag {
  display: inline-block;
  height: $language-picker-mobile-height;
  .hidden {
    display: list-item;
    position: absolute;
    z-index: 5;
  }
  ul {
    display: list-item;
  }
  img {
    width: $language-picker-mobile-height;
  }
}

@include screen-medium {
  .flag {
    margin-right: 20px;
    img {
      width: $language-picker-width;
    }
  }
}
