@import "../../../../variables.scss";

.hidden {
  display: none;
  position: absolute;
  z-index:  5;
}
.flag {
  display: inline-block;
  height: $language-picker-mobile-height;
  &:hover {
    .hidden {
      display: list-item;
    }
  }
  ul:hover {
    display: list-item;
  }
  img {
    width: $language-picker-mobile-height;
  }
}

@include screen-medium {
  .flag {
    margin-right: 20px;
    img {
      width: $language-picker-width;
    }
  }
}
