.hidden {
  display: none;
  position: absolute;
  z-index: 3;
}
.flag {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 21px;
  &:hover {
    .hidden {
      display: list-item;
    }
  }
  ul:hover{

    display: list-item;
  }
}

img{
  width:32px;
  padding-top:8px;
}
