<span (click)="menuClose()"
  ><img src="assets/images/xxx.png" class="close"
/></span>
<div class="container updown center-vertical spacing menu-mobile">
  <ul class="menu text-center bold">
    <li
      *ngFor="let menuItem of menu"
      [routerLink]="['/']"
      (click)="menuClose()"
      [ngx-scroll-to]="menuItem"
      class="menu-item-container"
    >
      <span
        [ngClass]="{ active: activeMenuItem === menuItem }"
        class="menu-item"
        >{{ menuItem }}</span
      >
    </li>
  </ul>
  <app-button (click)="menuClose()"></app-button>
</div>
