<div *ngIf="site" id="siteCard">
  <div class="grey card-mobile no-hover section">
    <h2 class="font-large">{{ site.rowInfo.title }}</h2>
    <span class="font-average">{{ site.rowInfo.subtitle }}</span>
  </div>

  <a
    *ngFor="let card of site.cardsLocation; index as i"
    [ngClass]="{
      active: indexOfActiveCard === site.cardsLocation.indexOf(card)
    }"
    [id]="card.title"
  >
    <div class="card-mobile heading grey"
    [ngx-scroll-to]="card.title"
    [ngClass]="{'heading yellow': i===indexOfActiveCard}"
    >
      <h2 class="fixed">{{ card.title.toUpperCase() }}</h2>
    </div>
    <div class="card-mobile white no-hover">
      <p class="font-medium">{{ card.text }}</p>
    </div>
    <div>
      <app-row-image [rowImage]="card.rowImage" [mediumFont]="true"></app-row-image>
    </div>
  </a>
</div>
