// Variables
// colors
$grey: #f6f6f6;
$yellow: #fed646;
$yellow-link: #ffc800;
$white: rgba(255, 255, 255, 0.8);
$black: #282828;
$dark-grey: #A9A9A9;
// font sizes
$big: 44px;
$large: 32px;
$medium: 22px;
$small: 16px;
// font weight
$regular: 400;
$bold: 700;
// font family
$font-family: "Titillium Web";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");
body {
  font-family: $font-family, sans-serif;
  body {
    font-size: $small;
  }
}
// paddings
$p0: 120px;
$p1: 60px;
$p11: 80px;
$p2: 45px;
$p22: 60px;
$p3: 30px;
$p4: 10px;

h1 {
  font-size: $big;
  margin: 0;
}
h2 {
  font-size: $medium;
  font-weight: $bold;
  line-height: 1.2;
}
h2{
 margin: 0;
}

a:not(.coordinates),
h1,
h2,
p,
input, textarea {
  color: $black;
}
input, textarea{
  font-size: $small;
}
h3{
  font-size:$large;
  margin:0;
}

a:not(.coordinates,.a-special) {
  font-size: $medium;
  &:hover {
    text-decoration: none;
  }
}
.coordinates {
  color: $dark-grey;
}
// layout
.wrapper *{
  max-width: 1200px;
}
.container {
  display: flex;
  &.justify {
    justify-content: space-between;
  }
  &.justify-vertical {
    justify-items: stretch;
  }
  &.center {
    justify-content: center;
  }
  &.center-vertical {
    align-items: center;
  }
  .item {
    flex: 1 1 auto;
    width: 100%;
  }
  .updown {
    flex-direction: column;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

dl, ul {
  padding: 0;
  margin:0;
  list-style-type: none;
}
dt {
  text-decoration: none;
}

.heading {
  font-size: $big;
  font-weight: $bold;
}

button {
  background: $yellow;
  border: none;
  font-weight: $bold;
  font-size: $small;
}

.card {
  background: $grey;
  &:hover {
    background: $yellow;
  }
  &.active {
    background: $yellow;
  }
  > * {
    margin: $p2;
  }
}

.marginless {
  margin: 0;
}

.background {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1400px;
  background-attachment: fixed;
  padding-left: 100px;
  margin-left: -100px;
  margin-right: -100px;
  padding-right: 100px;
}

nav {
  font-size: $small;
  .menu{
    a:hover {
      border-bottom: 5px solid $yellow;
    }
  }
  a{
    padding-bottom: $p4;
  }
  a:not(:last-of-type){
    margin-right: $p4;
  }
}

.grey {
  background-color: $grey;
}
.white {
  background-color: $white;
}
.yellow {
  background-color: $yellow;
}

.font-medium {
  font-size: $medium;
}
.font-small {
  font-size: $small;
}
.bold {
  font-weight: $bold;
}


.card-regular > *{
  margin: $p1 $p1;
  font-size: $small;
}
.footer > * {
  margin: $p0 $p1;
}

.card-big > * {
  margin: $p1 $p1;
}

.footer-absolute > * {
  margin: $p3 $p1;
}
.contact > .item:nth-of-type(1) > * {
  margin: $p0 $p1 $p0 $p1;
}
.contact > *:nth-of-type(2){
  margin: $p0 0 $p0 0;
}
.card-small{
  padding: $p1;
}
.card-text{
  padding: $p2;

}

.section {
  padding-bottom: $p4;
}

.margin-rigth{
  margin-right: $p4;
}

.row-texts > *{
  margin: $p1 $p2;
}

.cards > .card:not(:last-of-type){
  margin-right:$p4;
}
.cards > .card-right{
  margin-right: 5px;
}
.cards > .card-left{
  margin-left: 5px;
}
