// colors
$grey: #f6f6f6;
$yellow: #fed646;
$yellow-link: #ffc800;
$white: rgba(255, 255, 255, 0.8);
$black: #282828;
$dark-grey: #A9A9A9;
// font sizes
$big: 44px;
$large: 32px;
$medium: 22px;
$small: 16px;
// borders
$border-radius: 4px;
// font weight
$regular: 400;
$bold: 700;
// font family

// paddings
$p0: 120px;
$p1: 60px;
$p11: 80px;
$p2: 45px;
$p22: 60px;
$p3: 30px;
$p4: 10px;
$p5: 7px;

h1,h2,h3,dl, ul, .marginless{
  padding:0;
  margin:0;
}
h1 {
  font-size: $big;
}
h2 {
  font-size: $medium;
  font-weight: $bold;
  line-height: 1.2;
}

a:not(.coordinates),
h1,
h2,
h3,
span,
p,
input, textarea {
  color: $black;
}
input, textarea, .font-small{
  font-size: $small;
}
h3{
  font-size:$large;
}

a:not(.coordinates,.a-special) {
  font-size: $medium;
  &:hover {
    text-decoration: none;
  }
}
.coordinates, .coordinates > * {
  color: $dark-grey;
}

dl, ul {
  list-style-type: none;
}

button {
  background: $yellow;
  border: none;
  font-weight: $bold;
  font-size: $small;
}

.card {
  background: $grey;
  &:hover {
    background: $yellow;
  }
  &.active {
    background: $yellow;
  }
  > * {
    margin: $p3;
  }
}


.grey {
  background-color: $grey;
}
.white {
  background-color: $white;
}
.yellow {
  background-color: $yellow;
}

.font-medium {
  font-size: $medium;
}
.bold {
  font-weight: $bold;
}

.card-regular > *, .row-texts > *{
  margin: $p2 $p2;
}
.footer > * {
  margin: $p0 $p1;
}
.card-big > * {
  margin: $p1 $p1;
}
.footer-absolute > * {
  margin: $p3 $p1;
}
.contact > .item:nth-of-type(1) > * {
  margin: $p0 $p1 $p0 $p1;
}
.contact > *:nth-of-type(2){
  margin: $p0 0 $p0 0;
}
.card-small{
  padding: $p1;
}
.card-text{
  padding: $p2;
}
.section {
  padding-bottom: $p4;
}
.cards > .card:not(:last-of-type){
  margin-right:$p4;
}

*:not(img, .dl){
  border-radius: $border-radius;
}



$font-family: "Titillium Web";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");
body {
  font-family: $font-family, sans-serif;
}
html{
  
  padding-top: 80px;
}


$max-width: 1200px;
$background-width: 1400px;
.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: $background-width;
  margin-right: -100px;
  padding-right: 100px;
  margin-left: -100px;
  padding-left: 100px;
}
// layout
.wrapper *{
  max-width: $max-width;
}
.container {
  display: flex;
  &.justify {
    justify-content: space-between;
  }
  &.justify-vertical {
    justify-items: stretch;
  }
  &.center {
    justify-content: center;
  }
  &.center-vertical {
    align-items: center;
  }
  &.spacing {
    justify-content: space-around;
  }
  .item {
    flex: 1 1 auto;
    width: 100%;
  }
  .updown {
    flex-direction: column;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

nav {
  background-color: rgba(255,255,255,0.95);
  position: fixed;
  top: 0;
  width: $max-width;
  padding:$p5;
  .menu{
    font-size: 14px;
    a:hover, .a-active {
      border-bottom: 5px solid $yellow;
    }
  }
  a, .a-active{
    padding-bottom: $p5;
  }
  a:not(:last-of-type){
    margin-right: $p4;
  }
}

button, .item{
  border-radius: 4px;
}
footer {
	/*padding: 10px 0;*/
	width:auto;
	margin: 0 auto;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}


.logo{
  margin:5px;
  -webkit-transition:0.5s ease-in all;
  -moz-transition:0.5s ease-in all;
  -o-transition: 0.5s ease-in all;
  transition: 0.5s ease-in all;
}

.logo-big {
  width: 155px;
}
.logo-small {
  margin-right: 35px;
  width:125px;
}