// COLORS
$grey: #f6f6f6;
$yellow: #fed646;
$yellow-link: #ffc800;
$white: rgba(255, 255, 255, 0.8);
$white-strong: white;
$black: #282828;
$dark-grey: #a9a9a9;
$black-light: #666;

// FONTS
$big: 44px;
$large: 32px;
$average: 26px;
$medium: 22px;
$small: 16px;
$smallest: 14px;

// BORDER RADIUS
$border-radius: 4px;

// FONT WEIGHTS
$regular: 400;
$bold: 700;

// PADDINGS
$p0: 120px;
$p1: 60px;
$p11: 80px;
$p2: 45px;
$p22: 60px;
$p3: 30px;
$p4: 10px;
$p44: 15px;
$p5: 7px;
$padding-zero: 0px;

// WIDTHS
$max-width: 1200px;
$background-width: 1400px;

$mobile-max-width: 100%;
$mobile-background-width: $mobile-max-width;

// CONTAINER SIZES
$width-mobile: 100%;
$width-mobile-background: 300%;
$width-tablet-background: 200%;
$width-medium: 100%;
$width-huge: 1400px;
$width-large: 1200px;

// RESPONSIVE WIDTH
$screen-small-max: 812px;
$screen-medium-min: 813px;
$screen-large-min: $max-width;
$screen-huge-min: $background-width;

// Z-INDEX
$z-index-menu: 2;
$z-index-animation-background: 3;
$z-index-animation-logo: 4;

// COMPONENTS sizes

$header-height: 76px;
$video-width: 900px;
$video-mobile-width: 99%;
$close-button-width: 30px;
$play-button-width: 55px;
$language-picker-width: 25px;
$language-picker-mobile-height: 25px;
$contact-textarea-width: 150px;
$card-arrow-width: 25px;

// COMPONENTS paddings
$hero-padding: 20px;
$button-padding: $p4 $p44;

// COMPONENTS positions
// $logo-scale: 0.45;
// $logo-animation: 0.6;
// $logo-animation-increase: 2;
// $logo-left: 15%;
// $logo-top: 17.5%;
$logo-scale: 1;
$logo-animation: 1.2;
$logo-animation-increase: 5;
$logo-animation-increase-mobile: 2.2;
$logo-margin: 5px;
$logo-left: $logo-margin;
$logo-top: $logo-margin;
$logo-width: 155px;

// FUNCTIONS
@mixin transform-position-and-scale(
  $scale,
  $left: 50%,
  $top: 50%
) {
  left: $left;
  top: $top;
  transform: perspective(2000px) translate(-$left, -$top) scale($scale);
  backface-visibility: hidden;
}

@mixin transform-position-center($left: 50%, $top: 50%) {
  left: $left;
  top: $top;
  transform: perspective(2000px) translate(-$left, -$top);
  backface-visibility: hidden;
}

// EXTENDERS

@mixin background-margins {
  margin-right: -100px;
  padding-right: 100px;
  margin-left: -100px;
  padding-left: 100px;
}

@mixin background-position {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 50%;
}
@mixin background-position-mobile {
  background-repeat: no-repeat;
  background-position-x: 55%;
  background-position-y: -50px;
}
@mixin background-map-image {
  background-image: url(assets/images/map-flag-min.png);
}
@mixin background-regular-image {
  background-image: url(assets/images/map-regular-min.png);
}

@mixin fullscreen {
  width: 100%;
  height: 100vh;
}

//  MIXINS
@mixin screen-small {
  @media (max-width: $screen-small-max) {
    @content;
  }
}

@mixin screen-medium {
  @media (min-width: $screen-medium-min) {
    @content;
  }
}
@mixin screen-large {
  @media (min-width: $screen-large-min ) {
    @content;
  }
}
@mixin screen-huge {
  @media (min-width: $screen-huge-min ) {
    @content;
  }
}
