h1 {
  padding-bottom: 8vh;
  padding-top: 32vh;
}
.play {
  img {
    width: 55px;
    margin-right: 30px;
  }
  span {
    font-size: 20px;
    color: rgb(107, 107, 107);
  }
}
.heading{
  width: 100%;
  height: 100vh;
}