@import "../../../../variables.scss";
.hero {
  width: 100%;
  max-width: 100%;
  height: 20vh;
  hyphens: auto;
  &.fill{
    height: 60vh;
  }
  h3{
    border-top: 1px solid $black-light;
    border-bottom: 1px solid $black-light;
    padding: $hero-padding;
  }
}
@include screen-medium {
  .hero{
    height: 47vh;
  }
}
@include screen-large {
  .hero{
    height: 43vh;
  }
}
@include screen-huge {
  .hero{
    height: 40vh;
  }
}